{% extends "admin/template.twig" %}

{% block content %}

<h1>Browsing blog posts</h1>

{% if posts|length > 0 %}
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Post title</th>
			<th>Posted by</th>
			<th>Posted on</th>
			<th>Last updated</th>
			<th>
				<a href="/admin/blog/new" class="btn btn-success btn-mini">Add post</a>
			</th>
		</tr>
	</thead>
	<tbody>
	{% for post in posts %}
		<tr>
			<td><a href="/admin/blog/{{ post.id }}">{{ post.title }}</a></td>
			<td><a href="/admin/user/{{ post.user.id }}">{{ post.user.username }}</a></td>
			<td>{{ post.createdAt|date("m/d/Y h:i") }}</td>
			<td>{{ post.updatedAt|date("m/d/Y h:i") }}</td>
			<td>
				<a href="/admin/blog/{{ post.id }}" class="btn btn-mini">View</a>
				<a href="/admin/blog/{{ post.id }}/edit" class="btn btn-mini">Edit</a>
				<a href="/admin/blog/{{ post.id }}/delete" class="btn btn-danger btn-mini">Delete</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
	<p>No posts found</p>
{% endif %}

{% endblock %}